<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.netty.NettyWebServer" level="INFO"/>
    <logger name="org.springframework.cloud.gateway.handler.FilteringWebHandler" level="DEBUG"/>
    <logger name="org.springframework.cloud.gateway.sample.ThrottleGatewayFilter" level="DEBUG"/>
    <logger name="com.aidanwhiteley.books.gateway" level="INFO" />

</configuration>
