<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Note that this appender deliberately suppresses stack traces.
         This is because exceptions will frequently be thrown by the gateway
         server while waiting for the service registry to become available
         and for the microservice(s) to complete their registration.
         The error messages are still logged - just not the stakc traces.

         A future improvemtn would be to just suppress stack traces for the
         "offending classes" in the situation when the gateway
         can't correctly access the service registry.

         Until then, we have more readable logs and the expense of
         losing stack trace information!
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:-} --- [%15.15t] %-40.40logger{39} : %m%nopex%n
            </pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.netty.NettyWebServer" level="INFO"/>
    <logger name="org.springframework.cloud.gateway.handler.FilteringWebHandler" level="WARN"/>
    <logger name="com.aidanwhiteley.books.gateway.ThrottleGatewayFilter" level="WARN"/>
    <logger name="com.aidanwhiteley.books.gateway" level="WARN" />

    <!-- Not using Netflix Archaius / config server -->
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR" />
    <logger name="org.springframework.cloud.netflix.archaius.ArchaiusAutoConfiguration" level="ERROR" />

    <!-- Not worried about using the default load balancer cache -->
    <logger name="org.springframework.cloud.loadbalancer.config.LoadBalancerCacheAutoConfiguration" level="ERROR" />
</configuration>
